body {
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	text-align: center;
	background-image: linear-gradient(20deg, rgba(70, 11, 56, 0.906), rgba(10, 77, 82, 0.94));
	background-attachment: fixed;
	height: 100%;
	min-height: 1000px;
}

#container {
	margin: 50px 20px;
	height: 100vh;
	z-index: 20;
}

a {
	font-size: 18px;
	color: #79b7bb;
	line-height: 40px;
}

a:hover {
	color: #79b7bb;
}

img {
	max-width: 200px;
}

.btn {
	color: white;
	background-color: rgba(0, 0, 0, 0.288);
	border-color: white;
	margin: 0;
}

.btn:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.301);
}

.row {
	height: 100%;
}

.noscroll { 
	overflow: hidden;
}

#vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.714) inset;
}

#overlay {
	position: fixed;
	overflow-y: scroll;
	z-index: 40;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.548);
	visibility: hidden;
	opacity: 0;
	text-align: center;
	transition: 0.3s;
}

#infobox {
	height: 80%;
	width: 80%;
	color: white;
	background-color: rgba(10, 71, 74, 0.817);
	background-size: auto;
	box-shadow: 2px 2px 30px rgb(0, 0, 0);
	border-radius: 30px;
	margin: auto;
	margin-top: 4%;
	padding-top: 20px;
	padding-bottom: 40px;
	transform: translateY(30px);
	transition: 0.2s;
	visibility: hidden;
	text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

#infobox.visible {
	transform: translateY(0px);
	opacity: 0.98;
	visibility: visible;
}

.close-button:before, .close-button {
	float: right;
	display: absolute;
	margin-right: 8px;
	margin-top: -8px;
	color: white;
	opacity: 0.8;
	content: '\f057';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	font-size: 28px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#infobox .poster {
	margin-top: 20px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.399);
}

.play-button {
	margin-top: 30px;
}

.title {
	font-size: 40px;
	line-height: 44px;
	margin-bottom: 4px;
	text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0);
}

.genres {
	margin-top: 20px;
	text-shadow: none;
}

.genre {
	margin: 0 4px;
	padding: 4px 10px;
	border-radius: 14px;
	background-color: #679b9fb7;
	white-space: nowrap;
	box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.295);
}

.description {
	margin: 20px 10px;
}

.companies {
	margin-top: 4px;
	margin-bottom: 20px;
}

#header-container {
	display: table;
	z-index: 30;
	position: fixed;
}

#header {
	/* padding: 8px 14px; */
	position: fixed;
	float: left;
	top: 0;
	height: 80px;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	color:rgba(255, 255, 255, 0.838);
	background-color: rgba(0, 0, 0, 0.803);
	box-shadow: 0 4px 100px rgba(0, 0, 0, 0.714);
}

#header-links {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#header-links a {
	color:rgba(255, 255, 255, 0.838);
	display: inline-block;
	cursor: pointer;
	padding: 0 20px;
	border-radius: 6px;
}

.header-current, #header-links a:hover {
	background-color: rgba(255, 255, 255, 0.281);
	text-decoration: none;
}

#site-title {
	color: rgba(255, 255, 255, 0.838);
	font-size: 50px;
	font-weight: 700;
	font-variant-caps: all-small-caps;
	position: absolute;
	left: 18px;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#site-title:hover {
	text-decoration: none;
}

#search-container {
	position: absolute;
	right: 10px;
	vertical-align: middle;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#search-bar {
	display: inline-block;
	right: 100px;
	width: 220px;
	height: 36px;
	background-color: rgba(255, 255, 255, 0.132);
	border-radius: 12px;
	border-color: rgba(255, 255, 255, 0.345);
	color: white;
}

#search-button:before, #search-button {
	display: inline-block;
	margin-left: -20px;
	margin-top: -300px;
	color: rgba(255, 255, 255, 0.838);
	content: '\f002';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	font-size: 16px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 23;
}

#slideshow {
	content: " "; 
	display: block;
	clear: both;
	min-height: 900px;
	width: 90%;
	margin: auto;
	margin-top: 140px;
	position: relative;
	padding: 10px;
	box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.399);
}

#slideshow:after {
	content: " "; 
	display: block;
	clear: both;
}

#slideshow div {
	overflow: auto;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slide {
	overflow: auto;
	position: relative;
	display: inline-block;
}

.slide:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.884));
}

#slideshow img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.slideshow-title {
	display: block;
	float: bottom;
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 50px;
	font-weight: bold;
	opacity: 0.9;
	z-index: 3;
	padding: 30px;
	text-shadow: 0 0 30px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
	text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

.slideshow-title p {
	font-size: 16px;
	font-weight: normal;
	text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 10px rgb(0, 0, 0);
}

#main {
	margin: 60px 0 100px 0;
}

.genre-heading {
	font-weight: bold;
	float: left;
	margin-left: 60px;
	text-shadow: 0 0 40px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
}

.genre_container {
	float: left;
	margin-bottom: 40px;
}

.movie {
	display: inline-block;
	margin: 10px 20px;
	cursor: pointer;
	box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.399);
	transform: translateY(0);
	transition: 0.1s;
}

.movie:hover {
	transform: scale(1.1);
	box-shadow: 2px 2px 60px rgba(0, 0, 0, 0.747);
}

#footer {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
}

#footer-links a {
	font-size: 14px;
	text-transform: uppercase;
	color:rgba(255, 255, 255, 0.721);
	padding: 0 20px;
	border-radius: 6px;
	cursor: pointer;
}